body{

    color: #D6A73F;
    font-family: abel; 

}

.geheel{
    display: flex;
flex-direction: column;
margin: 50px;
}

.dag{
    display: flex;
}
.tekst{
    display: flex;
    flex-direction: column;

}

div.fotos{
    margin-left: 5vw;
}
.foto1{
    width: 30vw;
}

p{
    width: 50vw;
}